#menu {
  background-color: rgb(15, 199, 144);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}
/* :root {
  background-origin: padding-box;
  background-color: #222;
  display: flex;
  justify-content: center;
  
} */
 /* h1 {
  --border-width: 4px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
  height: 75px;
  background: #222;
  border-radius: var(--border-width);
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 40px;
  color: rgb(165, 168, 168);
}
::after {
display: flex;
justify-content: center;
position: absolute;
content: "";
top: calc(-1 * var(--border-width));
left: calc(-1 * var(--border-width));
z-index: -1;
width: calc(100% + var(--border-width) * 2);
height: calc(100% + var(--border-width) * 2);
background: linear-gradient(
  60deg,
  hsl(224, 85%, 66%),
  hsl(269, 85%, 66%),
  hsl(314, 85%, 66%),
  hsl(359, 85%, 66%),
  hsl(44, 85%, 66%),
  hsl(89, 85%, 66%),
  hsl(134, 85%, 66%),
  hsl(179, 85%, 66%)
);
background-size: 300% 300%;
background-position: 0 50%;
border-radius: calc(2 * var(--border-width));
animation: moveGradient 4s alternate infinite;
}


@keyframes moveGradient {
50% {
background-position: 100% 50%;
}
} */
#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}
