:root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}
#registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* align-items: center; */
    max-width: 20em;
    margin: auto;
    
  }